<!DOCTYPE html>
<html>
    <head>
        <title>Desi Gamer</title>
        <link rel="stylesheet" href="home.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="search-bar">
                <nav>
                    <ul style="float: left;">
                        <li><a href="" >Login</a></li>
                        <li><a href="">Signup</a></li>
                    </ul>
                    <ul style="float: right;">
                        <li><input type="text" name="search_query" placeholder="Search"></li>
                        <li><a href="#" ><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="navigation-bar">
                <nav>
                    <ul style="float: left;">
                        <li><a class="active" href="#">Home</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                    <a href="#"><img src="images/logo.png" alt="site-logo" id=logo></a>
                    <ul style="float: right;">
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </nav>
            </div>

            <div class="slide-show">
                <div class="slides">
                    <input type="radio" name="r" id="r1" checked>
                    <input type="radio" name="r" id="r2">
                    <input type="radio" name="r" id="r3">
                    <input type="radio" name="r" id="r4">
                    <input type="radio" name="r" id="r5">
                    
                    <div class="slide s1">
                        <img src="./images/slides/1.jpg" alt="">
                    </div>
                    
                    <div class="slide">
                        <img src="./images/slides/2.jpg" alt="">
                    </div>
                    
                    <div class="slide">
                        <img src="./images/slides/3.jpg" alt="">
                    </div>
                            
                    <div class="slide">
                        <img src="./images/slides/4.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="./images/slides/5.jpg" alt="">
                    </div>
                    <div class="slide-controller">
                        <label for="r1" class="bar"></label>
                        <label for="r2" class="bar"></label>
                        <label for="r3" class="bar"></label>
                        <label for="r4" class="bar"></label>
                        <label for="r5" class="bar"></label>
                    </div>
                </div>
            </div>
            <div class="slide-nav titlebar">
                    
            </div>
            <div id="Latest-topics">
                <div class="titlebar">
                    <h4 class="titlebar-text">Latest Topics</h4>
                </div>
                <div class="box hz-box">
                    <div class="card_a" >
                        <img class="card_img_top" src="./images/cards/1.jpg" alt="Card image cap">
                        <div class="card_body">
                          <h5 class="card_title">Card title</h5>
                          <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card_btn_a btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <div class="card_a" >
                        <img class="card_img_top" src="./images/cards/2.jpg" alt="Card image cap">
                        <div class="card_body">
                          <h5 class="card_title">Card title</h5>
                          <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card_btn_a btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <div class="card_a" >
                        <img class="card_img_top" src="./images/cards/3.jpg" alt="Card image cap">
                        <div class="card_body">
                          <h5 class="card_title">Card title</h5>
                          <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card_btn_a btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <div class="card_a" >
                        <img class="card_img_top" src="./images/cards/4.jpg" alt="Card image cap">
                        <div class="card_body">
                          <h5 class="card_title">Card title</h5>
                          <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card_btn_a btn btn-primary">Read more</a>
                        </div>
                    </div>
                    <div class="card_a" >
                        <img class="card_img_top" src="./images/cards/5.jpg" alt="Card image cap">
                        <div class="card_body">
                          <h5 class="card_title">Card title</h5>
                          <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="card_btn_a btn btn-primary">Read more</a>
                        </div>
                    </div>

                </div>
            </div>
            <div style="display: flex;">
                <div style="width: 33.33%;margin:0px 5px">
                    <div class="titlebar">
                        <h4 class="titlebar-text">Latest Reviews</h4>
                    </div>
                    <div class="box vr-box">
                        <div class="card_b" >
                            <img class="card_img_side" src="./images/cards/6.jpg" alt="Card image cap">
                            <div class="card_body_b">
                                <a href="#" class="card_title">Card title</a>
                              <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card_b" >
                            <img class="card_img_side" src="./images/cards/7.jpg" alt="Card image cap">
                            <div class="card_body_b">
                                <a href="#" class="card_title">Card title</a>
                              <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card_b" >
                            <img class="card_img_side" src="./images/cards/8.jpg" alt="Card image cap">
                            <div class="card_body_b">
                                <a href="#" class="card_title">Card title</a>
                              <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card_b" >
                            <img class="card_img_side" src="./images/cards/9.jpg" alt="Card image cap">
                            <div class="card_body_b">
                                <a href="#" class="card_title">Card title</a>
                              <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div style="padding-top: 10px;">
                            <a href="#" class="card_title">See all</a>
                        </div>
                    </div>
                </div>

                <div style="width: 33.33%;margin:0px 5px">
                        <div class="titlebar">
                            <h4 class="titlebar-text">Popular Topics</h4>
                        </div>
                        <div class="box vr-box">
                            <div class="card_b" >
                                <img class="card_img_side" src="./images/cards/10.jpg" alt="Card image cap">
                                <div class="card_body_b">
                                    <a href="#" class="card_title">Card title</a>
                                  <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card_b" >
                                <img class="card_img_side" src="./images/cards/11.jpg" alt="Card image cap">
                                <div class="card_body_b">
                                    <a href="#" class="card_title">Card title</a>
                                  <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card_b" >
                                <img class="card_img_side" src="./images/cards/12.jpg" alt="Card image cap">
                                <div class="card_body_b">
                                    <a href="#"class="card_title">Card title</a>
                                  <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card_b" >
                                <img class="card_img_side" src="./images/cards/13.jpg" alt="Card image cap">
                                <div class="card_body_b">
                                  <a href="#" class="card_title">Card title</a>
                                  <p class="card_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div style="padding-top: 10px;">
                                <a href="#" class="card_title">See all</a>
                            </div>
                        </div>
                </div>

                <div style="width: 33.33%;margin:0px 5px">
                        <div class="titlebar">
                            <h4 class="titlebar-text">About Us</h4>
                        </div>
                        <div class="box vr-box">
                           <div class="content-box">
                               <div>
                                   <h5 class="card_title">Loreum ipsum</h5>
                               </div>
                               <div>
                                   <p class="card_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                               </div>
                           </div>
                           <div class="content-box">
                                <div>
                                    <h5 class="card_title">Loreum ipsum</h5>
                                </div>
                                <div>
                                    <p class="card_text">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</p>
                                </div>
                            </div>
                            <div style="padding-top: 10px;">
                            <a href="#" class="card_title">Read more</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>  
        <div class="footer">
            <div class="container" style="height: 100%;margin: 0% 0% 0% 19.15%;">
                <div id="footer-outer-box">
                    <div id="footer-inner-box">
                        <h4 class="footer-title-text card_title">Top Stories</h4>
                        <ul>
                            <li><a href="#" class="card_text">Lorem ipsum dolor sit amet conse </a></li>
                            <li><a href="#" class="card_text">Ctetur adipisicing elit</a></li>
                            <li><a href="#" class="card_text">Sed do eiusmod tempor </a></li>
                            <li><a href="#" class="card_text">Incididunt ut labore et </a></li>
                            <li><a href="#" class="card_text">Dolore magna aliqua. </a></li>
                            <li><a href="#" class="card_text">Ut enim ad minim veniam</a></li>
                        </ul>

                    </div>
                    <div id="footer-inner-box">
                        <h4 class="footer-title-text card_title">Top Games</h4>
                        <ul>
                                <li><a href="#" class="card_text">Ctetur adipisicing elit</a></li>
                                <li><a href="#" class="card_text">Sed do eiusmod tempor</a></li>
                                <li><a href="#" class="card_text">Incididunt ut labore et </a></li>
                                <li><a href="#" class="card_text">Dolore magna aliqua.</a></li>
                                <li><a href="#" class="card_text">Ut enim ad minim veniam</a></li>
                                <li><a href="#" class="card_text">Lorem ipsum dolor sit </a></li>
                            </ul>
                    </div>
                    <div id="footer-inner-box">
                        <h4 class="footer-title-text card_title">Sites we like</h4>
                        <ul>
                                <li><a href="#" class="card_text">Sed do eiusmod tempor</a></li>
                                <li><a href="#" class="card_text">Incididunt ut labore et </a></li>
                                <li><a href="#" class="card_text">Dolore magna aliqua. </a></li>
                                <li><a href="#" class="card_text">Ut enim ad minim veniam</a></li>
                                <li><a href="#" class="card_text">Lorem ipsum dolor sit amet conse </a></li>
                                <li><a href="#" class="card_text">Ctetur adipisicing elit</a></li>
                            </ul>
                    </div>
                    <div id="footer-inner-box">
                        <h4 class="footer-title-text card_title">Social</h4>
                        <ul>
                                <li><a href="#" class="card_text">Facebook</a></li>
                                <li><a href="#" class="card_text">Twitter</a></li>
                            </ul>
                    </div>
                </div>
                <div>
                    <p>COPYRIGHT@ Mayank Tiwari</p>
                </div>
            </div>
        </div>      

    </body>
</html>